Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

update
  .circleci/config.yml
  package.json
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
Due: client, server

update
  package.json
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
Due: client, server

update
  .circleci/config.yml
Due: none

chore: update root project (#1300)
  .circleci/config.yml
  Makefile
  deploy.env.example
  dockerfile.client
  dockerfile.server
  package.json
  push.sh
  readme.md
Due: none

update
  packages/client/scripts/extract-translations.ts
Due: client

chore(deps-dev): freeze @testing-library/jest-dom at 4.2.0
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump styled-components from 5.0.0-beta.11 to 5.0.0-rc.1
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump typescript from 3.6.4 to 3.7.2
  package.json
  yarn.lock
Due: none

chore(deps-dev): bump @testing-library/cypress from 4.1.0 to 5.0.2
  package.json
  yarn.lock
Due: none

refactor(client): add ts-node config
  packages/client/config/dotenv-safe.js
  packages/client/config/dotenv-safe.ts
  packages/client/config/ts-node.js
  packages/client/config/webpack.config.ts
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/phone-field/select.tsx
Due: client

chore(deps-dev): freeze prettier at 1.18.2
  package.json
  yarn.lock
Due: none

chore(deps-dev): freeze @typescript-eslint/eslint-plugin at 2.7.0
  package.json
  yarn.lock
Due: none

refactor: update eslint import/order rule
  .eslintrc.js
Due: none

chore(deps): unfreeze formik
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump styled-components from 5.0.0-rc.1 to 5.0.0-rc.2
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump jest-styled-components from 7.0.0-beta.1 to 7.0.0-beta.2
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): remove unused typescript disable directives
  packages/client/.storybook/config.tsx
  packages/client/scripts/start.ts
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/utils/spec.tsx
Due: client

fix(client): properly handle formik state update in file-field test
  packages/client/src/components/file-field/test.tsx
Due: client

refactor(server): disable conflicting react-hooks eslint rule
  packages/server/.eslintrc.js
  packages/server/src/apollo.ts
Due: server

refactor: disable import/named eslint rule for typescript files
  .eslintrc.js
  packages/client/src/components/button/index.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/select/index.tsx
  packages/client/src/components/tooltip/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/styles/theme.ts
  packages/client/src/utils/spec.tsx
  packages/server/src/apollo.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/country-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: client, server

refactor(server): add .prettierignore file
  packages/server/.eslintrc.js
  packages/server/.prettierignore
  packages/server/package.json
Due: server

chore(deps): update yarn.lock
  yarn.lock
Due: none

refactor: update jest configuation
  packages/client/jest.config.js
  packages/server/jest.config.js
Due: client, server

update
  packages/client/scripts/start.ts
  packages/client/src/components/dialog/overlay.tsx
  packages/client/src/components/file-field/test.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/utils/store.test.ts
  packages/server/src/__mocks__/logger.ts
  packages/server/src/__mocks__/type-graphql.ts
  packages/server/src/__mocks__/typeorm-typedi-extensions.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/profile-service.test.ts
  packages/server/src/services/user-service.test.ts
Due: client, server

update
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.ts
  packages/client/src/components/phone-field/input.tsx
  packages/server/config/webpack.config.js
Due: client, server

chore(deps-dev): bump @testing-library/jest-dom from 4.2.0 to 4.2.4
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @types/jest from 24.0.19 to 24.0.23
  package.json
  yarn.lock
Due: none

chore(deps-dev): bump @storybook/addons from 5.2.6 to 5.2.8
  package.json
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): remove unused eslint disable directives
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/phone-field/select.tsx
Due: client

chore(deps-dev): freeze @types/node at 12.12.21
  package.json
  yarn.lock
Due: none

chore(deps-dev): update typescript version range
  package.json
  yarn.lock
Due: none

chore(deps-dev): bump @types/node from 12.12.21 to 13.1.4
  package.json
  yarn.lock
Due: none

chore(deps): freeze nact at 7.2.1
  packages/server/package.json
  yarn.lock
Due: server

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

test(client): remove flaky root component tests
  packages/client/src/components/root/test.tsx
Due: client

refactor(client): remove route stories
  packages/client/src/routes/fault/stories.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/not-found/stories.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/utils/spec.tsx
Due: client

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
