Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

feat(client): add form and page translations
  packages/client/config/webpack.config.js
  packages/client/src/apollo.ts
  packages/client/src/components/root/index.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

chore: sync nidus package
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/phone-field/graphql.ts
  packages/client/src/components/root/graphql.ts
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/register/graphql.ts
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/graphql.ts
  packages/common/src/address.ts
  packages/common/src/auth.ts
  packages/common/src/base-entity.ts
  packages/common/src/country.ts
  packages/common/src/email.ts
  packages/common/src/media.ts
  packages/common/src/phone.ts
  packages/common/src/profile.ts
  packages/common/src/response.ts
  packages/common/src/user.ts
  packages/common/src/utils/index.ts
Due: client

chore: sync nidus package (#597)
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/phone-field/graphql.ts
  packages/client/src/components/root/graphql.ts
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/register/graphql.ts
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/graphql.ts
  packages/common/src/address.ts
  packages/common/src/auth.ts
  packages/common/src/base-entity.ts
  packages/common/src/country.ts
  packages/common/src/email.ts
  packages/common/src/media.ts
  packages/common/src/phone.ts
  packages/common/src/profile.ts
  packages/common/src/response.ts
  packages/common/src/user.ts
  packages/common/src/utils/index.ts
Due: client

update
  packages/client/src/components/loading/test.tsx
  packages/client/src/components/radio/test.tsx
Due: client

refactor(client): rename the utilities directory
  packages/client/src/apollo.ts
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/components/table/index.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/store/partitions/index.ts
  packages/client/src/styles/theme.ts
  packages/client/src/utils/apollo.ts
  packages/client/src/utils/loading.tsx
  packages/client/src/utils/react.ts
  packages/client/src/utils/specification.test.ts
  packages/client/src/utils/specification.tsx
  packages/client/src/utils/store.test.ts
  packages/client/src/utils/store.ts
  packages/client/src/utils/style.ts
  packages/client/src/utils/table.test.ts
  packages/client/src/utils/table.ts
  packages/client/src/utils/validation.test.ts
  packages/client/src/utils/validation.ts
Due: client

refactor(client): rename the utilities directory (#601)
  packages/client/src/apollo.ts
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/components/table/index.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/store/partitions/index.ts
  packages/client/src/styles/theme.ts
  packages/client/src/utils/apollo.ts
  packages/client/src/utils/loading.tsx
  packages/client/src/utils/react.ts
  packages/client/src/utils/specification.test.ts
  packages/client/src/utils/specification.tsx
  packages/client/src/utils/store.test.ts
  packages/client/src/utils/store.ts
  packages/client/src/utils/style.ts
  packages/client/src/utils/table.test.ts
  packages/client/src/utils/table.ts
  packages/client/src/utils/validation.test.ts
  packages/client/src/utils/validation.ts
Due: client

chore(deps-dev): bump @storybook version
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): update table component
  packages/client/src/components/table/index.tsx
  packages/client/src/components/table/mixins.ts
  packages/client/src/components/table/stories.tsx
  packages/client/src/components/table/td.ts
  packages/client/src/components/table/th.ts
  packages/client/src/components/table/thead.ts
  packages/client/types/reactabular-table/index.d.ts
Due: client

update
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/fault/translations.ts
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/home/translations.ts
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/not-found/translations.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/translations.ts
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/register/translations.ts
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/translations.ts
  packages/client/src/translations/form.ts
Due: client

update
  packages/client/src/utils/table.test.ts
Due: client

chore(deps-dev): bump @typescript-eslint versions
  .eslintrc.js
  package.json
  packages/client/.storybook/config.tsx
  packages/client/src/apollo.ts
  packages/client/src/client.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/hooks/time.ts
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/styles/animations.ts
  packages/client/src/utils/react.ts
  packages/server/src/actors/email/email-send.ts
  packages/server/src/logger.ts
  packages/server/src/server.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/profile-service.test.ts
  packages/server/src/services/user-service.test.ts
  yarn.lock
Due: client, server

chore(deps): bump @apollo/react-hooks from 3.0.0 to 3.0.1
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/translations.ts
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/register/translations.ts
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/translations.ts
  packages/client/src/translations/form.ts
  packages/client/src/translations/navigation.ts
Due: client

refactor(client): update table component (#614)
  packages/client/src/components/table/index.tsx
  packages/client/src/components/table/mixins.ts
  packages/client/src/components/table/stories.tsx
  packages/client/src/components/table/td.ts
  packages/client/src/components/table/th.ts
  packages/client/src/components/table/thead.ts
  packages/client/src/utils/table.test.ts
  packages/client/types/reactabular-table/index.d.ts
Due: client

feat(client): add form and page translations (#596)
  packages/client/config/webpack.config.js
  packages/client/src/apollo.ts
  packages/client/src/components/root/index.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/fault/translations.ts
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/home/translations.ts
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/not-found/translations.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/translations.ts
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/translations.ts
  packages/client/src/translations/form.ts
  packages/client/src/translations/navigation.ts
Due: client

chore(deps): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

chore: update eslint project parser options
  .eslintrc.js
Due: none

refactor(client): update translations structure
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/fault/translations.ts
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/home/translations.ts
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/not-found/translations.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/translations.ts
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/translations.ts
  packages/client/src/translations/index.ts
Due: client

chore(deps): update yarn.lock
  yarn.lock
Due: none

refactor(client): update reactabular-table types
  packages/client/types/reactabular-table/index.d.ts
Due: client

refactor(client): update translations structure (#633)
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/fault/translations.ts
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/home/translations.ts
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/not-found/translations.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/translations.ts
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/translations.ts
  packages/client/src/translations/index.ts
Due: client

refactor(client): update translations structure
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/translations/form.ts
  packages/client/src/translations/index.ts
  packages/client/src/translations/navigation.ts
Due: client

update
  packages/client/src/translations/navigation.ts
Due: client

chore(deps-dev): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

fix docker build
  .circleci/config.yml
  packages/client/package.json
  packages/server/.env.example
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
Due: client, server

chore: fix docker build (#139)
  .circleci/config.yml
  packages/client/package.json
  packages/server/.env.example
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
Due: client, server

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

refactor(client): update radio component
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/input.tsx
  packages/client/src/components/radio/label.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/radio/test.tsx
Due: client

refactor(client): update radio component (#669)
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/input.tsx
  packages/client/src/components/radio/label.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/radio/test.tsx
Due: client

update
  .circleci/config.yml
  packages/server/src/services/config-service.ts
Due: server

update
  packages/server/src/services/config-service.ts
Due: server

update
  packages/server/.env.example
Due: server

update
  packages/server/src/ormconfig.ts
Due: server

refactor(common): add shallow type
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/phone-field/graphql.ts
  packages/client/src/components/root/graphql.ts
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/register/graphql.ts
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/sign-in/graphql.ts
  packages/common/src/address.ts
  packages/common/src/auth.ts
  packages/common/src/base-entity.ts
  packages/common/src/country.ts
  packages/common/src/email.ts
  packages/common/src/index.ts
  packages/common/src/media.ts
  packages/common/src/phone.ts
  packages/common/src/profile.ts
  packages/common/src/response.ts
  packages/common/src/types.ts
  packages/common/src/user.ts
Due: client

update
  .circleci/config.yml
  packages/server/.env.example
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
Due: server

update
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/user-service.test.ts
Due: server

update
  .eslintrc.js
  packages/client/.storybook/config.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/radio/input.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
