Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#170)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump react-apollo
  packages/client/package.json
  packages/client/src/client.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/authenticator-app-button.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/server.tsx
  yarn.lock
Due: client

update
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump react-apollo (#174)
  packages/client/package.json
  packages/client/src/client.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/authenticator-app-button.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/server.tsx
  yarn.lock
Due: client

fix(client): address radio component styling issue
  packages/client/src/components/radio/index.tsx
Due: client

update
  yarn.lock
Due: none

fix(client): radio component styling (#180)
  packages/client/src/components/radio/index.tsx
  yarn.lock
Due: client

update
  packages/client/src/utilities/object.test.ts
  packages/client/src/utilities/object.ts
  yarn.lock
Due: client

feat(client): forward input component refs
  packages/client/src/components/input/index.tsx
  packages/client/src/components/radio/index.tsx
Due: client

update
  packages/client/config/cypress/support.ts
  packages/client/package.json
  yarn.lock
Due: client

feat(client): forward input component refs (#193)
  packages/client/src/components/input/index.tsx
  packages/client/src/components/radio/index.tsx
Due: client

update
  packages/client/config/jest/setup.ts
  packages/client/package.json
  packages/client/src/assets/test.tsx
  packages/client/src/components/button/test.tsx
  packages/client/src/components/file/test.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/label/test.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/loading/test.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/utilities/specification.tsx
  yarn.lock
Due: client

feat(client): add ability to mask inputs
  packages/client/src/components/input/index.tsx
Due: client

feat(client): add ability to mask inputs (#198)
  packages/client/src/components/input/index.tsx
Due: client

chore(dev-deps): bump @storybook version
  .editorconfig
  .gitattributes
  packages/client/.storybook/addons.ts
  packages/client/.storybook/config.tsx
  packages/client/.storybook/webpack.config.js
  packages/client/package.json
  packages/client/src/components/button/stories.mdx
  packages/client/src/components/button/stories.tsx
  packages/client/types/storybook__react/index.d.ts
  yarn.lock
Due: client

chore(dev-deps): bump @storybook version (#207)
  .editorconfig
  .gitattributes
  packages/client/.storybook/addons.ts
  packages/client/.storybook/config.tsx
  packages/client/.storybook/webpack.config.js
  packages/client/package.json
  packages/client/src/components/button/stories.mdx
  packages/client/src/components/button/stories.tsx
  packages/client/types/storybook__react/index.d.ts
  yarn.lock
Due: client

fix(deps-dev): revert @storybook versions
  .editorconfig
  .gitattributes
  packages/client/.storybook/addons.ts
  packages/client/.storybook/config.tsx
  packages/client/.storybook/webpack.config.js
  packages/client/babel.config.js
  packages/client/package.json
  packages/client/src/components/button/stories.mdx
  packages/client/src/components/button/stories.tsx
  packages/client/types/storybook__react/index.d.ts
  yarn.lock
Due: client

fix(deps-dev): revert @storybook versions (#210)
  .editorconfig
  .gitattributes
  packages/client/.storybook/addons.ts
  packages/client/.storybook/config.tsx
  packages/client/.storybook/webpack.config.js
  packages/client/babel.config.js
  packages/client/package.json
  packages/client/src/components/button/stories.mdx
  packages/client/src/components/button/stories.tsx
  packages/client/types/storybook__react/index.d.ts
  yarn.lock
Due: client

update
  packages/client/package.json
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/types/testing-library__user-event/index.d.ts
  yarn.lock
Due: client

chore(deps): bump versions
  package.json
  packages/client/.storybook/preview-head.html
  packages/client/babel.config.js
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/html/index.tsx
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#236)
  package.json
  packages/client/.storybook/preview-head.html
  packages/client/babel.config.js
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/html/index.tsx
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps-dev): add @types/testing-library__user-event
  packages/client/package.json
  packages/client/types/testing-library__user-event/index.d.ts
  yarn.lock
Due: client

refactor: add ability to specify dot env file during build
  packages/client/config/cypress/webpack.config.js
  packages/client/config/webpack.config.js
  packages/server/config/jest-setup.js
  packages/server/config/jest/setup.ts
  packages/server/config/webpack.config.js
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/src/apollo.ts
  packages/server/src/database.ts
  packages/server/src/main.ts
  packages/server/src/ormconfig.ts
  packages/server/src/server.ts
  packages/server/src/services/config-service.ts
  packages/server/tsconfig.json
Due: client, server

update
  .eslintrc.js
  packages/server/.eslintrc.js
  yarn.lock
Due: server

feat(client): add text-field component
  packages/client/package.json
  packages/client/src/components/file/index.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/input/test.tsx.snap
  packages/client/src/components/label/index.tsx
  packages/client/src/components/text-field/control.tsx
  packages/client/src/components/text-field/help.tsx
  packages/client/src/components/text-field/index.tsx
  packages/client/src/components/text-field/input.tsx
  packages/client/src/components/text-field/label.tsx
  packages/client/src/components/text-field/stories.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  yarn.lock
Due: client

feat(client): add text masking to input component
  packages/client/package.json
  packages/client/src/components/input/index.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/input/test.tsx.snap
  packages/client/src/utilities/react.ts
  yarn.lock
Due: client

perf(ci): update circleci config
  .circleci/config.yml
Due: none

perf(ci): update circleci config (#252)
  .circleci/config.yml
Due: none

feat(client): add time hooks
  packages/client/src/hooks/time.ts
Due: client

refactor(client): update input component
  packages/client/src/components/input/index.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/input/test.tsx.snap
Due: client

feat(client): add option and select components
  packages/client/src/components/option/index.tsx
  packages/client/src/components/option/stories.tsx
  packages/client/src/components/option/test.tsx
  packages/client/src/components/option/test.tsx.snap
  packages/client/src/components/select/index.tsx
  packages/client/src/components/select/stories.tsx
  packages/client/src/components/select/test.tsx
  packages/client/src/components/select/test.tsx.snap
  packages/client/src/styles/mixins.ts
Due: client

refactor(client): refactor text-field component
  packages/client/src/components/input/index.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/text-field/control.tsx
  packages/client/src/components/text-field/index.tsx
  packages/client/src/components/text-field/input.tsx
  packages/client/src/components/text-field/label.tsx
  packages/client/src/components/text-field/stories.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

feat(client): add phone-field component
  packages/client/src/components/phone-field/data.ts
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/select/index.tsx
  packages/client/src/components/text-field/index.tsx
Due: client

chore(deps): bump styled-components
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): generalize text-field component
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/text-field/stories.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

refactor(client): generalize text-field component (#301)
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/text-field/stories.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

chore(deps): bump formik from 2.0.1-alpha.2 to 2.0.1-rc.5
  packages/client/package.json
  yarn.lock
Due: client

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
