Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: auth, client, server, shared, validation

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - auth
          - client
          - server
          - shared
          - validation
  status:
    project:
      default: false
      auth:
        threshold: 2.0
        if_no_uploads: success
        flags:
          - auth
        paths:
          - ^packages/auth/.*
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
      shared:
        threshold: 2.0
        if_no_uploads: success
        flags:
          - shared
        paths:
          - ^packages/shared/.*
      validation:
        threshold: 2.0
        if_no_uploads: success
        flags:
          - validation
        paths:
          - ^packages/validation/.*
flags:
  auth:
    paths:
      - ^packages/auth/.*
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*
  shared:
    paths:
      - ^packages/shared/.*
  validation:
    paths:
      - ^packages/validation/.*

test enable two factor
  packages/server/src/resolvers/types/response-error.ts
  packages/server/src/services/auth-service.test.ts
Due: server

update
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
Due: server

update
  packages/server/src/services/auth-service.test.ts
Due: server

chore(deps): bump versions
  package.json
  packages/auth/package.json
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/html/index.tsx
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/layout/index.tsx
  packages/server/package.json
  packages/shared/package.json
  packages/validation/package.json
  yarn.lock
Due: auth, client, server, shared, validation

chore(deps): bump versions (#91)
  package.json
  packages/auth/package.json
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/html/index.tsx
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/layout/index.tsx
  packages/server/package.json
  packages/shared/package.json
  packages/validation/package.json
  yarn.lock
Due: auth, client, server, shared, validation

Add AuthService unit tests (#90)
  packages/server/src/resolvers/types/response-error.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
Due: server

feat: add radio component
  packages/client/src/components/input-field/index.tsx
  packages/client/src/components/input-field/test.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/label/stories.tsx
  packages/client/src/components/label/test.tsx
  packages/client/src/components/notice/index.ts
  packages/client/src/components/notice/stories.tsx
  packages/client/src/components/notice/test.tsx
  packages/client/src/components/notice/test.tsx.snap
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

feat: add radio component (#92)
  packages/client/src/components/input-field/index.tsx
  packages/client/src/components/input-field/test.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/label/stories.tsx
  packages/client/src/components/label/test.tsx
  packages/client/src/components/notice/index.ts
  packages/client/src/components/notice/stories.tsx
  packages/client/src/components/notice/test.tsx
  packages/client/src/components/notice/test.tsx.snap
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

Bump dependencies
  yarn.lock
Due: none

Bump dependencies (#93)
  yarn.lock
Due: none

shared packages
  packages/auth/package.json
  packages/shared/package.json
  packages/validation/package.json
Due: auth, shared, validation

main package.json
  package.json
Due: none

Add partial incremental build support (#94)
  package.json
  packages/auth/package.json
  packages/shared/package.json
  packages/validation/package.json
Due: auth, shared, validation

update service
  packages/server/src/logger.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

update
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/validation/package.json
  yarn.lock
Due: client, server, validation

update
  package.json
  packages/server/package.json
  yarn.lock
Due: server

update
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Update deps (#95)
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/validation/package.json
  yarn.lock
Due: client, server, validation

update
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/resolvers/register-resolver.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Update user service (#96)
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/logger.ts
  packages/server/src/resolvers/register-resolver.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Add logger helpers
  packages/server/src/logger.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.ts
Due: server

update
  packages/server/src/apollo.ts
  packages/server/src/logger.ts
  packages/server/src/main.ts
  packages/server/src/server.ts
Due: server

disable patch
  codecov.yml
Due: none

Add service logging (#97)
  codecov.yml
  packages/server/src/apollo.ts
  packages/server/src/logger.ts
  packages/server/src/main.ts
  packages/server/src/server.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.ts
Due: server

update
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

add user dao
  packages/server/src/models/index.ts
  packages/server/src/models/user-dao.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Bump Depedencies (#98)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

Update eslint configuration
  .eslintrc.js
Due: none

Update deps
  package.json
  packages/client/package.json
  yarn.lock
Due: client

Update deps (#100)
  package.json
  packages/client/package.json
  yarn.lock
Due: client

Update eslint configuration (#99)
  .eslintrc.js
Due: none

add profile dao and fix injection
  packages/server/src/models/index.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.ts
Due: server

update auth service
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/register-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
Due: server

Add custom repository support (#101)
  packages/server/src/models/index.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/models/user-dao.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/register-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Update dependencies
  yarn.lock
Due: none
