Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - client
          - server
  status:
    patch:
      default: false
    project:
      default: false
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
comment:
  require_changes: true
flags:
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*

add country service
  packages/server/src/auth/ability.ts
  packages/server/src/resolvers/country-resolver.ts
  packages/server/src/services/country-service.ts
  packages/server/src/services/index.ts
Due: server

update auth service
  packages/server/src/entities/user.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
Due: server

update address service
  packages/server/src/resolvers/address-resolver.ts
  packages/server/src/services/address-service.ts
Due: server

add phone resolver
  packages/server/schema.graphql
  packages/server/src/models/phone-dao.ts
  packages/server/src/models/phone-type-dao.ts
  packages/server/src/resolvers/index.ts
  packages/server/src/resolvers/phone-resolver.ts
  packages/server/src/services/phone-service.ts
Due: server

fix
  .circleci/config.yml
Due: none

chore(deps): bump versions
  package.json
  packages/client/.storybook/config.tsx
  packages/client/package.json
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/select/stories.tsx
  packages/client/src/server.tsx
  packages/client/tsconfig.json
  packages/client/types/react/index.d.ts
  packages/client/types/storybook__addon-centered/react.d.ts
  packages/client/types/storybook__addon-viewport/index.d.ts
  packages/server/package.json
  yarn.lock
Due: client, server

update
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/profile-service.ts
Due: server

update profile
  packages/server/src/models/profile-dao.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/services/address-service.ts
  packages/server/src/services/profile-service.test.ts
  packages/server/src/services/profile-service.ts
Due: server

update user
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

feat(server): add api authorization checks (#537)
  .circleci/config.yml
  dockerfile.client
  dockerfile.server
  packages/auth/.gitignore
  packages/auth/jest.config.js
  packages/auth/package.json
  packages/auth/readme.md
  packages/auth/src/ability.ts
  packages/auth/tsconfig.json
  packages/server/package.json
  packages/server/schema.graphql
  packages/server/src/apollo.ts
  packages/server/src/auth/ability.ts
  packages/server/src/auth/index.ts
  packages/server/src/entities/user.ts
  packages/server/src/models/phone-dao.ts
  packages/server/src/models/phone-type-dao.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/resolvers/address-resolver.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/country-resolver.ts
  packages/server/src/resolvers/index.ts
  packages/server/src/resolvers/phone-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/server.ts
  packages/server/src/services/address-service.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/country-service.ts
  packages/server/src/services/index.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.test.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
  packages/server/tsconfig.json
Due: server

update
  packages/common/src/address.ts
  packages/common/src/base-entity.ts
  packages/common/src/email.ts
  packages/common/src/index.ts
  packages/common/src/media.ts
  packages/common/src/phone.ts
  packages/common/src/profile.ts
  packages/common/src/user.ts
  packages/server/package.json
  packages/server/schema.graphql
  packages/server/src/entities/address-type.ts
  packages/server/src/entities/address.ts
  packages/server/src/entities/base-entity.ts
  packages/server/src/entities/country.ts
  packages/server/src/entities/email.ts
  packages/server/src/entities/media-type.ts
  packages/server/src/entities/media.ts
  packages/server/src/entities/phone-type.ts
  packages/server/src/entities/phone.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/resolvers/types/address-input.ts
  packages/server/src/resolvers/types/enable-two-factor-auth-response.ts
  packages/server/src/resolvers/types/media-response.ts
  packages/server/src/resolvers/types/phone-input.ts
  packages/server/src/resolvers/types/profile-input.ts
  packages/server/src/resolvers/types/profile-response.ts
  packages/server/src/resolvers/types/register-input.ts
  packages/server/src/resolvers/types/response-error.ts
  packages/server/src/resolvers/types/response.ts
  packages/server/src/resolvers/types/user-response.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
  packages/server/src/seeds/1563472808764-AddressMock.ts
  yarn.lock
Due: server

update
  packages/server/schema.graphql
  packages/server/src/__mocks__/type-graphql.ts
  packages/server/src/entities/address.ts
  packages/server/src/entities/base-entity.ts
  packages/server/src/entities/email.ts
  packages/server/src/entities/media.ts
  packages/server/src/entities/phone.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
Due: server

refactor: consolidate shared types (#559)
  packages/common/src/address.ts
  packages/common/src/base-entity.ts
  packages/common/src/email.ts
  packages/common/src/index.ts
  packages/common/src/media.ts
  packages/common/src/phone.ts
  packages/common/src/profile.ts
  packages/common/src/user.ts
  packages/server/package.json
  packages/server/schema.graphql
  packages/server/src/__mocks__/type-graphql.ts
  packages/server/src/entities/address-type.ts
  packages/server/src/entities/address.ts
  packages/server/src/entities/base-entity.ts
  packages/server/src/entities/country.ts
  packages/server/src/entities/email.ts
  packages/server/src/entities/media-type.ts
  packages/server/src/entities/media.ts
  packages/server/src/entities/phone-type.ts
  packages/server/src/entities/phone.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/resolvers/types/address-input.ts
  packages/server/src/resolvers/types/enable-two-factor-auth-response.ts
  packages/server/src/resolvers/types/media-response.ts
  packages/server/src/resolvers/types/phone-input.ts
  packages/server/src/resolvers/types/profile-input.ts
  packages/server/src/resolvers/types/profile-response.ts
  packages/server/src/resolvers/types/register-input.ts
  packages/server/src/resolvers/types/response-error.ts
  packages/server/src/resolvers/types/response.ts
  packages/server/src/resolvers/types/user-response.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
  packages/server/src/seeds/1563472808764-AddressMock.ts
  yarn.lock
Due: server

chore(deps): bump versions
  package.json
  packages/client/config/webpack.config.js
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/radio/test.tsx
  packages/server/package.json
  yarn.lock
Due: client, server

update
  packages/server/package.json
  packages/server/src/entities/base-entity.ts
  yarn.lock
Due: server

update
  packages/server/package.json
  yarn.lock
Due: server

refactor(server): use date-fns for date parsing (#569)
  packages/server/package.json
  packages/server/src/entities/base-entity.ts
  yarn.lock
Due: server

update
  packages/client/babel.config.js
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/loading/test.tsx
  packages/client/src/components/phone-field/graphql.ts
  packages/client/src/components/root/graphql.ts
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/graphql.ts
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/sign-in/graphql.ts
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/utilities/specification.tsx
  packages/common/package.json
  packages/common/src/address.ts
  packages/common/src/auth.ts
  packages/common/src/base-entity.ts
  packages/common/src/country.ts
  packages/common/src/email.ts
  packages/common/src/media.ts
  packages/common/src/phone.ts
  packages/common/src/profile.ts
  packages/common/src/response.ts
  packages/common/src/user.ts
  packages/server/schema.graphql
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/types/index.ts
  packages/server/src/resolvers/types/profile-response.ts
  packages/server/src/resolvers/types/sign-in-response.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/profile-service.test.ts
  packages/server/src/services/profile-service.ts
Due: client, server

chore(deps): bump versions
  package.json
  packages/client/.storybook/config.tsx
  packages/client/config/jest/setup.ts
  packages/client/package.json
  packages/client/tsconfig.json
  packages/server/package.json
  yarn.lock
Due: client, server

update
  packages/client/config/babel-register.js
  packages/client/package.json
  packages/client/scripts/extract-fragment-types.ts
  packages/client/scripts/lib/fs.js
  packages/client/scripts/lib/fs.ts
  packages/client/scripts/readme.md
  packages/client/scripts/run.js
  packages/client/scripts/start-server.js
  packages/client/src/apollo.ts
  packages/client/src/components/root/test.tsx
  packages/client/src/fragment-types.json
  packages/client/src/utilities/apollo.ts
  yarn.lock
Due: client

chore(deps-dev): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/tsconfig.json
Due: client

update
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/common/src/auth.ts
Due: client

update
  packages/client/babel.config.js
  packages/server/src/entities/user.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/profile-service.test.ts
  yarn.lock
Due: client, server

update
  .circleci/config.yml
Due: none

update
  packages/client/babel.config.js
Due: client

update
  .circleci/config.yml
  dockerfile.client
  dockerfile.server
  package.json
  packages/client/babel.config.js
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
Due: client, server

chore(deps): add react-intl package
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): update webpack defined variables
  packages/client/.eslintrc.js
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.js
  packages/client/jest.config.js
  packages/client/src/apollo.ts
  packages/client/src/client.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/types/global.d.ts
Due: client

chore(engines): bump versions
  .circleci/config.yml
  dockerfile.client
  dockerfile.server
  package.json
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
Due: client, server

feat(client): add typescript support to babel-register
  packages/client/babel.config.js
  packages/client/config/babel-register.js
  packages/client/package.json
Due: client

chore(engines): bump versions (#582)
  .circleci/config.yml
  dockerfile.client
  dockerfile.server
  package.json
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
Due: client, server

feat(client): add typescript support to babel-register (#583)
  packages/client/babel.config.js
  packages/client/config/babel-register.js
  packages/client/package.json
Due: client

refactor(client): update webpack defined variables (#581)
  packages/client/.eslintrc.js
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.js
  packages/client/jest.config.js
  packages/client/src/apollo.ts
  packages/client/src/client.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/types/global.d.ts
Due: client

update
  packages/client/config/dotenv-safe.js
  packages/client/package.json
  packages/client/scripts/extract-fragment-types.ts
  packages/client/scripts/run.js
Due: client
