Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

chore: sync repositories
  package.json
  packages/client/src/routes/settings/index.tsx
  packages/client/src/server.tsx
  packages/common/src/entities/address-type.ts
  packages/common/src/entities/address.ts
  packages/common/src/entities/base-address.ts
  packages/common/src/entities/base-email.ts
  packages/common/src/entities/base-media.ts
  packages/common/src/entities/base-phone.ts
  packages/common/src/entities/base-profile.ts
  packages/common/src/entities/base-user.ts
  packages/common/src/entities/country.ts
  packages/common/src/entities/email.ts
  packages/common/src/entities/media-type.ts
  packages/common/src/entities/media.ts
  packages/common/src/entities/phone-type.ts
  packages/common/src/entities/phone.ts
  packages/common/src/entities/profile.ts
  packages/common/src/entities/user.ts
  packages/common/src/errors/response-error.ts
  packages/common/src/inputs/address-input.ts
  packages/common/src/inputs/phone-input.ts
  packages/common/src/inputs/profile-input.ts
  packages/common/src/inputs/register-input.ts
  packages/common/src/responses/enable-two-factor-auth-response.ts
  packages/server/src/resolvers/country-resolver.ts
  packages/server/src/resolvers/types/media-response.ts
  packages/server/src/resolvers/types/profile-response.ts
  packages/server/src/resolvers/types/register-input.ts
  packages/server/src/resolvers/types/response.ts
  packages/server/src/resolvers/types/user-response.ts
  packages/server/src/services/__mocks__/config-service.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/config-service.ts
  packages/server/src/services/crypto-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
  yarn.lock
Due: client, server

chore: address eslint warnings
  packages/client/src/components/phone-field/select.tsx
Due: client

chore(deps): bump versions
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

feat: automate e2e test suite
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  config/cypress/plugins.js
  config/cypress/support.ts
  config/cypress/webpack.config.js
  cypress.json
  package.json
  packages/auth/tsconfig.json
  packages/client/.eslintrc.js
  packages/client/.gitignore
  packages/client/package.json
  packages/client/tsconfig.json
  packages/common/tsconfig.json
  packages/server/tsconfig.json
  packages/validation/tsconfig.json
  test/integration/navigation.test.ts
  tsconfig.json
  yarn.lock
Due: client, server

update
  .circleci/config.yml
Due: none

update
  package.json
  packages/client/.env.defaults
  packages/client/.env.example
  packages/client/config/webpack.config.js
  packages/client/src/server.tsx
  packages/server/.env.example
  packages/server/config/webpack.config.js
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
Due: client, server

update
  .circleci/config.yml
  package.json
Due: none

update
  .circleci/config.yml
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

update
  packages/server/src/actors/email/email-send.ts
  packages/server/src/actors/email/emailer.ts
  packages/server/src/main.ts
  packages/server/src/services/config-service.ts
Due: server

feat: automate e2e test suite (#437)
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  config/cypress/plugins.js
  config/cypress/support.ts
  config/cypress/webpack.config.js
  cypress.json
  package.json
  packages/auth/tsconfig.json
  packages/client/.env.defaults
  packages/client/.env.example
  packages/client/.eslintrc.js
  packages/client/.gitignore
  packages/client/config/webpack.config.js
  packages/client/package.json
  packages/client/src/server.tsx
  packages/client/tsconfig.json
  packages/common/tsconfig.json
  packages/server/.env.example
  packages/server/config/webpack.config.js
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/src/actors/email/email-send.ts
  packages/server/src/actors/email/emailer.ts
  packages/server/src/main.ts
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
  packages/server/tsconfig.json
  packages/validation/tsconfig.json
  test/integration/navigation.test.ts
  tsconfig.json
  yarn.lock
Due: client, server

refactor(root): update cypress config
  cypress.json
  test/e2e/navigation.test.ts
Due: none

Move critical seeds to migrations
  packages/server/src/migrations/1562784739127-AddressType.ts
  packages/server/src/migrations/1562785067527-Country.ts
  packages/server/src/migrations/1562785186842-MediaType.ts
  packages/server/src/migrations/1562785197068-PhoneType.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
Due: server

update
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/migrations/1562784739127-AddressType.ts
  packages/server/src/migrations/1562785186842-MediaType.ts
  packages/server/src/migrations/1562785197068-PhoneType.ts
  packages/server/src/migrations/1563241448481-InitialTypes.ts
  packages/server/src/migrations/1563241788594-Country.ts
Due: server

Move critical types to migrations (#453)
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/migrations/1563241448481-InitialTypes.ts
  packages/server/src/migrations/1563241788594-Country.ts
  packages/server/src/seeds/1562784739127-AddressType.ts
  packages/server/src/seeds/1562785186842-MediaType.ts
  packages/server/src/seeds/1562785197068-PhoneType.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
Due: server

add injectable class for all daos
  packages/server/src/models/address-dao.ts
  packages/server/src/models/all-daos.ts
  packages/server/src/models/email-dao.ts
  packages/server/src/models/index.ts
  packages/server/src/models/media-dao.ts
  packages/server/src/models/media-type-dao.ts
  packages/server/src/models/phone-dao.ts
Due: server

update services
  packages/server/src/services/address-service.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

mock logger
  packages/server/src/__mocks__/logger.ts
  packages/server/src/models/all-daos.ts
Due: server

refactor: update cypress configuration
  config/cypress/webpack.config.js
  package.json
  packages/auth/tsconfig.json
  packages/client/tsconfig.json
  packages/common/tsconfig.json
  packages/server/package.json
  packages/server/tsconfig.json
  packages/validation/tsconfig.json
  tsconfig.json
Due: client, server

update
  tsconfig.json
Due: none

refactor: update cypress configuration (#463)
  config/cypress/webpack.config.js
  package.json
  packages/auth/tsconfig.json
  packages/client/tsconfig.json
  packages/common/tsconfig.json
  packages/server/package.json
  packages/server/tsconfig.json
  packages/validation/tsconfig.json
  tsconfig.json
Due: client, server

update
  packages/server/src/models/daos.ts
  packages/server/src/models/index.ts
  packages/server/src/services/address-service.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.ts
Due: server

Simplify DAO imports and injection (#464)
  packages/server/src/__mocks__/logger.ts
  packages/server/src/models/address-dao.ts
  packages/server/src/models/daos.ts
  packages/server/src/models/email-dao.ts
  packages/server/src/models/index.ts
  packages/server/src/models/media-dao.ts
  packages/server/src/models/media-type-dao.ts
  packages/server/src/models/phone-dao.ts
  packages/server/src/services/address-service.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

chore(deps): bump versions
  .circleci/config.yml
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
