Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - client
          - server
  status:
    patch:
      default: false
    project:
      default: false
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
comment:
  require_changes: true
flags:
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*

update
  packages/server/src/main.ts
  packages/server/src/services/register-service.ts
Due: server

update
  packages/server/src/actors/email/email-send.ts
Due: server

update
  .eslintrc.js
  packages/client/.eslintrc.js
  packages/client/src/components/file/test.tsx
Due: client

Add actor system (#114)
  .eslintrc.js
  packages/server/.env.example
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/src/actors/email/email-send.ts
  packages/server/src/actors/email/emailer.ts
  packages/server/src/actors/email/templates/registration.ts
  packages/server/src/actors/index.ts
  packages/server/src/actors/types.ts
  packages/server/src/main.ts
  packages/server/src/services/config-service.ts
  packages/server/src/services/register-service.ts
  packages/server/types/nact/index.d.ts
  yarn.lock
Due: server

update
  packages/client/package.json
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/radio/test.tsx
  yarn.lock
Due: client

update
  packages/client/src/components/controlled-input-field/stories.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

update
  packages/client/src/components/file/stories.tsx
  packages/client/src/components/file/test.tsx
Due: client

update
  packages/client/src/components/radio/stories.tsx
Due: client

feat(client): add controlled file component (#113)
  packages/client/.eslintrc.js
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
  packages/client/src/components/file/test.tsx
Due: client

feat(client): add controlled radio component (#112)
  packages/client/package.json
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/radio/test.tsx
  yarn.lock
Due: client

update
  packages/client/package.json
  yarn.lock
Due: client

chore(client): upgrade formik (#111)
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/src/components/controlled-input-field/index.tsx
  packages/client/src/components/controlled-input-field/stories.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
  packages/client/src/components/file/test.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  yarn.lock
Due: client

chore(deps): bump versions
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#115)
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(client): consolidate input components
  packages/client/src/components/controlled-input-field/index.tsx
  packages/client/src/components/controlled-input-field/stories.tsx
  packages/client/src/components/input-field/index.tsx
  packages/client/src/components/input-field/stories.tsx
  packages/client/src/components/input-field/test.tsx
  packages/client/src/components/input/index.ts
  packages/client/src/components/input/index.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/input/test.tsx.snap
  packages/client/src/components/notice/index.ts
  packages/client/src/components/radio/index.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/validation/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#117)
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/validation/package.json
  yarn.lock
Due: client, server

update
  packages/client/src/routes/register/index.tsx
Due: client

update
  packages/client/src/components/input/index.tsx
Due: client

chore(client): consolidate input components (#116)
  packages/client/src/components/controlled-input-field/index.tsx
  packages/client/src/components/controlled-input-field/stories.tsx
  packages/client/src/components/input-field/index.tsx
  packages/client/src/components/input-field/stories.tsx
  packages/client/src/components/input-field/test.tsx
  packages/client/src/components/input/index.ts
  packages/client/src/components/input/index.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/input/test.tsx.snap
  packages/client/src/components/notice/index.ts
  packages/client/src/components/radio/index.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

chore(deps): bump versions (#118)
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/validation/package.json
  yarn.lock
Due: client, server

refactor: rename spread variables
  packages/client/src/assets/index.tsx
  packages/client/src/components/button/index.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/loading/index.tsx
  packages/client/src/components/subnavbar/index.tsx
  packages/client/src/components/table/index.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/settings/authenticator-app-button.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/enable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/sign-in/index.tsx
Due: client

refactor: rename spread variables (#119)
  packages/client/src/assets/index.tsx
  packages/client/src/components/button/index.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/loading/index.tsx
  packages/client/src/components/subnavbar/index.tsx
  packages/client/src/components/table/index.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/settings/authenticator-app-button.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/enable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/sign-in/index.tsx
Due: client

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#120)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#121)
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(client): remove unused eslint disable directives
  packages/client/scripts/lib/webpack-hot-dev-client.js
  packages/client/types/assets/index.d.ts
  packages/server/package.json
  yarn.lock
Due: client, server

chore(client): remove unused eslint disable directives (#122)
  packages/client/scripts/lib/webpack-hot-dev-client.js
  packages/client/types/assets/index.d.ts
  packages/server/package.json
  yarn.lock
Due: client, server

feat(shared): add omit type
  packages/client/src/components/file/index.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/radio/index.tsx
  packages/shared/src/index.ts
  packages/shared/src/types/mapped.ts
Due: client

update
  packages/server/src/actors/email/email-send.ts
  packages/server/src/actors/email/templates/index.ts
  packages/server/src/actors/email/templates/registration.ts
Due: server

Update actors (#123)
  packages/server/src/actors/email/email-send.ts
  packages/server/src/actors/email/templates/index.ts
  packages/server/src/actors/email/templates/registration.ts
Due: server

feat(shared): add deep partial type
  packages/client/src/utilities/style.ts
  packages/shared/src/types/mapped.ts
Due: client

chore(deps): bump versions (#124)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

feat(shared): add deep partial type (#125)
  packages/client/src/utilities/style.ts
  packages/shared/src/types/mapped.ts
Due: client

refactor(client): update theme variable names
  packages/client/src/components/file/index.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
Due: client

update
  packages/client/types/styled-components/index.d.ts
Due: client

refactor(client): update theme variable names (#126)
  packages/client/src/components/file/index.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client
