Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - client
          - server
  status:
    patch:
      default: false
    project:
      default: false
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
comment:
  require_changes: true
flags:
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*

chore(deps): bump react-intl from 4.0.0 to 4.1.0 (#2112)
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @types/testing-library__react from 9.1.2… (#2110)
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @testing-library/dom from 6.13.0 to 6.15.0
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump react-error-overlay from 6.0.5 to 6.0.6
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @babel/core from 7.8.7 to 7.9.0
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @babel/preset-env from 7.8.7 to 7.9.0
  packages/client/package.json
  yarn.lock
Due: client

test: remove the use of deprecated testing apis in packages/client
  packages/client/src/components/layout/test.tsx
Due: client

chore: remove unnecessary export statements from type definitions
  packages/client/types/babel-plugin-react-intl/index.d.ts
  packages/client/types/babel__core/index.d.ts
  packages/client/types/express/index.d.ts
  packages/client/types/isomorphic-style-loader/index.d.ts
  packages/client/types/mime/lite.d.ts
  packages/client/types/react-error-overlay/index.d.ts
  packages/client/types/reactabular-table/index.d.ts
  packages/client/types/styled-components/index.d.ts
  packages/client/types/test-data-bot/index.d.ts
  packages/client/types/webpack-hot-middleware/client.d.ts
  packages/server/types/apollo-server-express/index.d.ts
  packages/server/types/nact/index.d.ts
Due: client, server

chore: update rimraf type definitions to allow promisifying
  packages/client/types/rimraf/index.d.ts
  yarn.lock
Due: client

chore(deps-dev): bump babel-jest from 25.1.0 to 25.2.0
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @storybook/addons from 5.3.17 to 5.3.18
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump babel-jest from 25.2.4 to 25.2.6
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): freeze graphql at 14.6.0
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

fix: add missing express-jwt algorithm
  packages/server/src/server.ts
Due: server
