Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - client
          - server
  status:
    patch:
      default: false
    project:
      default: false
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
comment:
  require_changes: true
flags:
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*

automatic mocks for typeorm and typedi decorators
  packages/server/__mocks__/type-graphql.ts
  packages/server/__mocks__/typeorm-typedi-extensions.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/user-service.test.ts
Due: server

Update dependencies (#102)
  yarn.lock
Due: none

typeorm cli setup
  packages/server/ormconfig.yml
  packages/server/package.json
Due: server

fix lint
  packages/server/tsconfig.json
Due: server

fix .env loading in CI environments
  packages/server/.env.ci.example
  packages/server/.gitignore
  packages/server/src/config.ts
Due: server

Migrations work
  .eslintrc.js
  packages/server/config/webpack.config.js
  packages/server/ormconfig.yml
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/database.ts
  packages/server/src/migrations/1556439849889-Initial.ts
  packages/server/src/ormconfig.ts
Due: server

Server jest mocks (#103)
  packages/server/.env.ci.example
  packages/server/.gitignore
  packages/server/__mocks__/type-graphql.ts
  packages/server/__mocks__/typeorm-typedi-extensions.ts
  packages/server/src/config.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/user-service.test.ts
  packages/server/tsconfig.json
Due: server

update
  packages/server/package.json
Due: server

Add server typeorm migrations (#104)
  .eslintrc.js
  packages/server/config/webpack.config.js
  packages/server/ormconfig.yml
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/database.ts
  packages/server/src/migrations/1556439849889-Initial.ts
  packages/server/src/ormconfig.ts
Due: server

Add seed migrations
  packages/server/config/webpack.config.js
  packages/server/package.json
  packages/server/src/database.ts
  packages/server/src/migrations/1556439849889-Initial.ts
  packages/server/src/ormconfig.ts
  packages/server/src/seeds/1556447639123-User.ts
Due: server

update
  packages/server/src/seeds/1556447639123-User.ts
Due: server

Add seed migrations (#105)
  packages/server/config/webpack.config.js
  packages/server/package.json
  packages/server/src/database.ts
  packages/server/src/migrations/1556439849889-Initial.ts
  packages/server/src/ormconfig.ts
  packages/server/src/seeds/1556447639123-User.ts
Due: server

Refactor security package as crypto service
  packages/server/src/security/crypto.ts
  packages/server/src/security/index.ts
  packages/server/src/services/crypto-service.test.ts
  packages/server/src/services/crypto-service.ts
  packages/server/src/services/index.ts
  packages/server/src/services/register-service.ts
Due: server

Add crypto service (#106)
  packages/server/src/security/crypto.ts
  packages/server/src/security/index.ts
  packages/server/src/services/crypto-service.test.ts
  packages/server/src/services/crypto-service.ts
  packages/server/src/services/index.ts
  packages/server/src/services/register-service.ts
Due: server

Add config service
  packages/server/config/jest-setup.js
  packages/server/jest.config.js
  packages/server/src/apollo.ts
  packages/server/src/config.ts
  packages/server/src/main.ts
  packages/server/src/server.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/config-service.ts
  packages/server/src/services/crypto-service.test.ts
  packages/server/src/services/crypto-service.ts
  packages/server/src/services/index.ts
Due: server

update
  packages/server/src/services/crypto-service.test.ts
Due: server

update
  packages/server/.env.ci.example
  packages/server/src/services/__mocks__/config-service.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/config-service.ts
  packages/server/src/services/crypto-service.test.ts
Due: server

Add config service (#107)
  packages/server/.env.ci.example
  packages/server/config/jest-setup.js
  packages/server/jest.config.js
  packages/server/src/apollo.ts
  packages/server/src/config.ts
  packages/server/src/main.ts
  packages/server/src/server.ts
  packages/server/src/services/__mocks__/config-service.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/config-service.ts
  packages/server/src/services/crypto-service.test.ts
  packages/server/src/services/crypto-service.ts
  packages/server/src/services/index.ts
Due: server

chore(deps): bump versions
  package.json
  packages/client/.storybook/config.tsx
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/controlled-input-field/stories.tsx
  packages/client/src/components/html/index.tsx
  packages/client/src/components/input-field/stories.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/label/stories.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/notice/stories.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/submenu/stories.tsx
  packages/client/src/components/subnavbar/stories.tsx
  packages/client/src/components/table/stories.tsx
  packages/client/types/storybook__react/index.d.ts
  yarn.lock
Due: client

chore(deps): bump versions (#108)
  package.json
  packages/client/.storybook/config.tsx
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/controlled-input-field/stories.tsx
  packages/client/src/components/html/index.tsx
  packages/client/src/components/input-field/stories.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/label/stories.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/notice/stories.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/submenu/stories.tsx
  packages/client/src/components/subnavbar/stories.tsx
  packages/client/src/components/table/stories.tsx
  packages/client/types/storybook__react/index.d.ts
  yarn.lock
Due: client

add nact
  packages/server/package.json
  yarn.lock
Due: server

nact type declaration
  packages/server/nodemon.json
  packages/server/types/nact/index.d.ts
Due: server

Add aws sdk
  packages/server/.env.example
  packages/server/package.json
Due: server

feat(client): add file component
  packages/client/src/assets/file-upload.svg
  packages/client/src/assets/stories.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

chore(deps): bump versions
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/html/index.tsx
  yarn.lock
Due: client

chore(deps): bump versions (#110)
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/html/index.tsx
  yarn.lock
Due: client

Add base emailer
  .eslintrc.js
  packages/server/src/actors/emailer.ts
  packages/server/src/actors/index.ts
  packages/server/src/actors/types.ts
  packages/server/src/main.ts
Due: server

chore(client): upgrade formik
  packages/client/package.json
  packages/client/src/components/controlled-input-field/index.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  yarn.lock
Due: client

update
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
Due: client

feat(client): add controlled radio component
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/stories.tsx
Due: client

feat(client): add file component (#109)
  packages/client/src/assets/file-upload.svg
  packages/client/src/assets/stories.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

update
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

update
  packages/server/.env.example
  yarn.lock
Due: server

update config
  packages/server/src/services/config-service.ts
Due: server

feat(client): add controlled file component
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
Due: client

add serverUrl to config
  packages/server/.env.example
  packages/server/src/services/config-service.ts
Due: server

email send actor
  packages/server/src/actors/emailer.ts
  packages/server/src/actors/emails/email-send.ts
  packages/server/src/actors/emails/emailer.ts
  packages/server/src/actors/emails/templates/registration.ts
  packages/server/src/actors/index.ts
  packages/server/src/actors/types.ts
  packages/server/src/main.ts
Due: server

rename dir
  packages/server/src/actors/email/email-send.ts
  packages/server/src/actors/email/emailer.ts
  packages/server/src/actors/email/templates/registration.ts
  packages/server/src/actors/index.ts
Due: server

integrate with register service
  packages/server/src/services/register-service.ts
Due: server

update
  packages/client/src/components/file/index.tsx
Due: client
