Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - client
          - server
  status:
    patch:
      default: false
    project:
      default: false
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
comment:
  require_changes: true
flags:
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*

chore(deps): bump formik from 2.0.1-alpha.2 to 2.0.1-rc.5 (#302)
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): update yarn.lock
  yarn.lock
Due: none

chore(deps): bump apollo packages
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump apollo packages (#303)
  packages/client/package.json
  yarn.lock
Due: client

Update build configuration
  packages/client/config/webpack.config.js
  packages/server/config/webpack.config.js
Due: client, server

revert dotenv config
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
Due: server

use .env instead of .env.dev
  packages/client/config/webpack.config.js
  packages/server/config/webpack.config.js
Due: client, server

Update build configuration (#306)
  packages/client/config/webpack.config.js
  packages/server/config/webpack.config.js
  packages/server/src/ormconfig.ts
  packages/server/src/services/config-service.ts
Due: client, server

Fix server build
  packages/server/config/webpack.config.js
Due: server

Fix server build (#309)
  packages/server/config/webpack.config.js
Due: server

refactor(client): field components
  packages/client/package.json
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/hooks/time.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/utilities/validation.ts
  packages/client/types/formik/index.d.ts
  packages/server/src/seeds/1556447639123-User.ts
  packages/validation/src/index.ts
  yarn.lock
Due: client, server

update
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/tsconfig.json
  packages/validation/src/index.ts
Due: client

update
  .circleci/config.yml
  packages/client/src/components/button/index.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/select/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/common/src/index.ts
  packages/common/src/types/mapped.ts
Due: client

update
  .circleci/config.yml
Due: none

update
  packages/client/src/utilities/validation.test.ts
  packages/client/src/utilities/validation.ts
Due: client

update
  yarn.lock
Due: none

refactor(client): field components (#322)
  .circleci/config.yml
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/button/index.tsx
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/select/index.tsx
  packages/client/src/hooks/time.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/utilities/validation.test.ts
  packages/client/src/utilities/validation.ts
  packages/client/tsconfig.json
  packages/client/types/formik/index.d.ts
  packages/common/src/index.ts
  packages/common/src/types/mapped.ts
  packages/server/src/seeds/1556447639123-User.ts
  packages/validation/src/index.ts
  yarn.lock
Due: client, server

refactor(common): file structure
  packages/common/src/entities/index.ts
  packages/common/src/errors/index.ts
  packages/common/src/index.ts
  packages/common/src/inputs/index.ts
  packages/common/src/responses/index.ts
Due: none

refactor(common): file structure (#327)
  packages/common/src/entities/index.ts
  packages/common/src/errors/index.ts
  packages/common/src/index.ts
  packages/common/src/inputs/index.ts
  packages/common/src/responses/index.ts
Due: none

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/client/src/utilities/validation.test.ts
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/string.ts
  yarn.lock
Due: client

update
  packages/client/types/reach__dialog/index.d.ts
Due: client

chore(deps): bump versions (#364)
  package.json
  packages/client/package.json
  packages/client/src/utilities/validation.test.ts
  packages/client/types/reach__dialog/index.d.ts
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/string.ts
  yarn.lock
Due: client

refactor(client): type defintions
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.js
  packages/client/src/assets/index.tsx
  packages/client/types/assets/index.d.ts
  packages/client/types/global.d.ts
  packages/client/types/reach__menu-button/index.d.ts
  packages/client/types/styled-components/index.d.ts
Due: client

refactor(client): type defintions (#365)
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.js
  packages/client/src/assets/index.tsx
  packages/client/types/assets/index.d.ts
  packages/client/types/global.d.ts
  packages/client/types/reach__menu-button/index.d.ts
  packages/client/types/styled-components/index.d.ts
Due: client

chore(deps-dev): bump versions
  packages/client/package.json
  packages/client/types/react/index.d.ts
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/string.ts
  yarn.lock
Due: client

chore(deps-dev): bump versions (#369)
  packages/client/package.json
  packages/client/types/react/index.d.ts
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/string.ts
  yarn.lock
Due: client

refactor(client): file component
  packages/client/src/assets/stories.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/icon.svg
  packages/client/src/components/file-field/icon.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/label.tsx
  packages/client/src/components/file-field/mixins.ts
  packages/client/src/components/file-field/name.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/file-field/test.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
  packages/client/src/styles/mixins.ts
Due: client

update
  packages/client/src/components/file-field/mixins.ts
Due: client

update
  packages/client/src/components/file-field/call-to-action.tsx
Due: client

refactor(client): file component (#370)
  packages/client/src/assets/stories.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/icon.svg
  packages/client/src/components/file-field/icon.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/label.tsx
  packages/client/src/components/file-field/mixins.ts
  packages/client/src/components/file-field/name.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/file-field/test.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/stories.tsx
  packages/client/src/styles/mixins.ts
Due: client

update
  package.json
  packages/auth/package.json
  packages/client/config/jest/setup.ts
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
  yarn.lock
Due: client, server

refactor: update jest config
  packages/auth/jest.config.js
  packages/client/jest.config.js
  packages/common/jest.config.js
  packages/server/jest.config.js
  packages/validation/jest.config.js
Due: client, server

refactor: update package metadata
  package.json
  packages/auth/package.json
  packages/auth/readme.md
  packages/client/package.json
  packages/common/package.json
  packages/common/readme.md
  packages/server/package.json
  packages/validation/package.json
  packages/validation/readme.md
Due: client, server

fix(client): phone field component input mask
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/select.tsx
Due: client

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/client/types/formik/index.d.ts
  packages/server/package.json
  yarn.lock
Due: client, server

refactor: update metadata
  .dockerignore
  .editorconfig
  .gitignore
  package.json
  packages/auth/.gitignore
  packages/auth/package.json
  packages/client/.gitignore
  packages/common/.gitignore
  packages/common/package.json
  packages/server/.gitignore
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/src/__mocks__/type-graphql.ts
  packages/server/src/__mocks__/typeorm-typedi-extensions.ts
  packages/server/tsconfig.json
  packages/validation/.gitignore
  packages/validation/package.json
Due: client, server

chore(deps): bump versions
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/types/formik/index.d.ts
Due: client
