Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

refactor(client): consolidate duplicated code (#1025)
  packages/client/.storybook/config.tsx
  packages/client/package.json
  packages/client/src/apollo.ts
  packages/client/src/assets/test.tsx
  packages/client/src/components/field/stories.mdx
  packages/client/src/components/file-field/test.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/label/test.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/components/select/test.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/server.tsx
  packages/client/src/utils/apollo.test.ts
  packages/client/src/utils/apollo.ts
  packages/client/src/utils/specification.test.ts
  packages/client/src/utils/specification.tsx
  yarn.lock
Due: client

refactor(client): update translations export strategy
  packages/client/src/components/field/country-select.tsx
  packages/client/src/translations/country.ts
  packages/client/src/translations/form.ts
  packages/client/src/translations/index.ts
  packages/client/src/translations/navigation.ts
Due: client

refactor(client): rename spcification utility file
  packages/client/.storybook/config.tsx
  packages/client/src/assets/test.tsx
  packages/client/src/components/field/stories.mdx
  packages/client/src/components/file-field/test.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/label/test.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/phone-field/stories.mdx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/components/select/stories.mdx
  packages/client/src/components/select/test.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/utils/spec.test.ts
  packages/client/src/utils/spec.tsx
  packages/client/src/utils/specification.tsx
Due: client

chore(deps): update yarn.lock file
  yarn.lock
Due: none

chore: sync sdk and nidus packages
  packages/client/src/utils/spec.tsx
Due: client

refactor(client): update phone field select component
  packages/client/src/components/phone-field/data.ts
  packages/client/src/components/phone-field/select.tsx
Due: client

update
  packages/client/src/components/phone-field/data.ts
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/translations/country.ts
Due: client

refactor(client): update phone field select component (#1050)
  packages/client/src/components/phone-field/data.ts
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/translations/country.ts
Due: client

refactor(client): update apollo utilities
  packages/client/src/utils/apollo.test.ts
  packages/client/src/utils/apollo.ts
Due: client

fix(client): remove lowercase casting in country select component
  packages/client/src/components/field/country-select.tsx
Due: client

fix(client): revert @apollo/react-hooks package
  packages/client/package.json
  yarn.lock
Due: client

fix(deps-dev): freeze eslint-plugin-react version
  package.json
  yarn.lock
Due: none

refactor(client): update theme and mixin styles
  packages/client/src/styles/global.ts
  packages/client/src/styles/mixins.test.tsx
  packages/client/src/styles/mixins.ts
  packages/client/src/styles/theme.ts
  packages/client/src/utils/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

add apollo auth context
  packages/server/src/apollo.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
Due: server

feat(server): apollo auth context (#1073)
  packages/server/src/apollo.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
Due: server

refactor(client): remove unused assets
  packages/client/src/assets/sort-down.svg
  packages/client/src/assets/sort-up.svg
  packages/client/src/assets/stories.tsx
Due: client

refactor(client): update label and input associations
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/routes/register/register-form.tsx
Due: client

chore: sync nidus and sdk packages
  config/cypress/support.js
  config/cypress/support.ts
  cypress.json
  package.json
  test/e2e/navigation.test.ts
Due: none

refactor: update eslint config
  .eslintrc.js
  package.json
  packages/server/src/apollo.ts
  packages/server/src/ormconfig.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/country-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.ts
  yarn.lock
Due: server

refactor: rename svg imports
  packages/client/src/assets/stories.tsx
  packages/client/src/assets/test.tsx
  packages/client/src/components/layout/index.tsx
Due: client

update
  packages/client/scripts/start.ts
Due: client

chore(deps): update yarn.lock file
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): update component variant and loading states
  packages/client/src/components/button/index.tsx
  packages/client/src/components/button/stories.mdx
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/stories.mdx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/name.tsx
  packages/client/src/components/file-field/stories.mdx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/input/stories.mdx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/loading/index.tsx
  packages/client/src/components/loading/stories.mdx
  packages/client/src/components/loading/stories.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/phone-field/stories.mdx
  packages/client/src/components/select/index.tsx
  packages/client/src/components/select/stories.mdx
  packages/client/src/components/tooltip/index.tsx
  packages/client/src/components/tooltip/stories.mdx
  packages/client/src/components/tooltip/stories.tsx
  packages/client/src/styles/theme.ts
  packages/client/types/styled-components/index.d.ts
Due: client

chore(deps): lower @apollo/react-hooks from 3.1.3 to 3.1.1
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/server/src/apollo.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/middlewares/index.ts
  packages/server/src/resolvers/middlewares/rate-limit.ts
Due: server

update
  packages/server/src/apollo.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/middlewares/rate-limit.ts
Due: server

refactor(server): rate limit (#1184)
  packages/server/src/apollo.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/middlewares/index.ts
  packages/server/src/resolvers/middlewares/rate-limit.ts
Due: server

feat(client): add dialog component
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/dialog/close.tsx
  packages/client/src/components/dialog/content.ts
  packages/client/src/components/dialog/index.tsx
  packages/client/src/components/dialog/overlay.tsx
  packages/client/src/components/dialog/stories.mdx
  packages/client/src/components/html/index.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/enable-two-factor-auth-dialog.tsx
  packages/client/src/styles/mixins.ts
  packages/client/types/reach__dialog/index.d.ts
  yarn.lock
Due: client

refactor(client): remove anonymous component wrappers
  packages/client/src/components/button/index.tsx
  packages/client/src/components/dialog/close.tsx
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/label.tsx
  packages/client/src/components/file-field/name.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/input.tsx
  packages/client/src/components/radio/label.tsx
  packages/client/src/components/select/index.tsx
  packages/client/src/components/tabs/index.tsx
  packages/client/src/components/tabs/tab-panels.tsx
  packages/client/src/components/tabs/tab.tsx
  packages/client/src/components/tooltip/index.tsx
Due: client

chore(deps): bump styled-components from 5.0.0-beta.9 to 5.0.0-beta.11
  package.json
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump typescript from 3.5.3 to 3.6.4
  package.json
  packages/client/src/utils/store.ts
  yarn.lock
Due: client

update
  packages/client/src/components/file-field/cropper.tsx
Due: client

chore(deps): update yarn.lock
  package.json
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/client/package.json
  packages/client/types/babel-plugin-react-intl/index.d.ts
  yarn.lock
Due: client

refactor(client): update queried types
  packages/client/package.json
  packages/client/src/apollo.ts
  packages/client/src/components/field/graphql.ts
  packages/client/src/components/layout/graphql.ts
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/phone-field/graphql.ts
  packages/client/src/components/root/graphql.ts
  packages/client/src/components/root/index.tsx
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/register/graphql.ts
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/sign-in/graphql.ts
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/common/src/types.ts
Due: client

update root project
  .circleci/config.yml
  Makefile
  deploy.env.example
  dockerfile.client
  dockerfile.server
  package.json
  packages/client/package.json
  packages/common/package.json
  packages/server/package.json
  packages/validation/package.json
  push.sh
  readme.md
Due: client, server

update
  .circleci/config.yml
Due: none

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
