Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

update lock
  yarn.lock
Due: none

update
  packages/server/src/entities/address-type.ts
  packages/server/src/entities/address.ts
  packages/server/src/entities/country.ts
  packages/server/src/entities/email.ts
  packages/server/src/entities/media-type.ts
  packages/server/src/entities/media.ts
  packages/server/src/entities/phone-type.ts
  packages/server/src/entities/phone.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/resolvers/types/address-input.ts
  packages/server/src/resolvers/types/phone-input.ts
  packages/server/src/resolvers/types/profile-input.ts
  packages/server/src/resolvers/types/register-input.ts
  packages/server/src/services/address-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/register-service.ts
Due: server

chore(server): update resolver types (#901)
  packages/server/src/entities/address-type.ts
  packages/server/src/entities/address.ts
  packages/server/src/entities/country.ts
  packages/server/src/entities/email.ts
  packages/server/src/entities/media-type.ts
  packages/server/src/entities/media.ts
  packages/server/src/entities/phone-type.ts
  packages/server/src/entities/phone.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/resolvers/types/address-input.ts
  packages/server/src/resolvers/types/phone-input.ts
  packages/server/src/resolvers/types/profile-input.ts
  packages/server/src/resolvers/types/register-input.ts
  packages/server/src/services/address-service.ts
  packages/server/src/services/phone-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/register-service.ts
Due: server

create user
  packages/common/src/user.ts
  packages/server/schema.graphql
  packages/server/src/resolvers/types/index.ts
  packages/server/src/resolvers/types/user-input.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

feat(server): create user (#912)
  packages/common/src/user.ts
  packages/server/schema.graphql
  packages/server/src/resolvers/types/index.ts
  packages/server/src/resolvers/types/user-input.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/register-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

chore(deps-dev): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

chore(client): migrate scripts files to typescript
  packages/client/config/babel-register.js
  packages/client/config/dotenv-safe.ts
  packages/client/config/webpack.config.ts
  packages/client/package.json
  packages/client/scripts/bundle.ts
  packages/client/scripts/copy.ts
  packages/client/scripts/deploy.js
  packages/client/scripts/readme.md
  packages/client/scripts/start-server.js
  packages/client/scripts/start.js
  packages/client/scripts/start.ts
  packages/client/types/loadable__webpack-plugin/index.d.ts
  yarn.lock
Due: client

refactor(client): update clean script
  packages/client/scripts/clean.ts
  packages/client/scripts/lib/cp.js
Due: client

refactor(client): update code coverage targets
  packages/client/jest.config.js
Due: client

refactor(client): update server.tsx file
  packages/client/src/server.tsx
Due: client

update
  packages/client/config/webpack.config.ts
  packages/client/scripts/start.ts
  packages/server/config/webpack.config.js
  packages/server/src/__mocks__/logger.ts
  packages/server/src/__mocks__/type-graphql.ts
  packages/server/src/__mocks__/typeorm-typedi-extensions.ts
  packages/server/src/resolvers/middlewares/exception-interceptor.ts
Due: client, server

refactor(client): remove storybook addon centered
  .gitattributes
  packages/client/package.json
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/field/stories.mdx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/input/stories.tsx
  packages/client/src/components/label/stories.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/radio/stories.tsx
  packages/client/src/components/select/stories.tsx
  packages/client/src/components/submenu/stories.tsx
  packages/client/src/components/subnavbar/stories.tsx
  packages/client/src/components/table/stories.tsx
  packages/client/src/components/tooltip/stories.tsx
  packages/client/src/utils/story.tsx
  packages/client/types/storybook__addon-centered/react.d.ts
  yarn.lock
Due: client

refactor(client): update component data attributes
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/icon.ts
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/label.tsx
  packages/client/src/components/file-field/name.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/input.tsx
  packages/client/src/components/radio/label.tsx
  packages/client/src/components/tooltip/index.tsx
Due: client

feat(client): add tabs component
  packages/client/package.json
  packages/client/src/components/subnavbar/index.tsx
  packages/client/src/components/subnavbar/stories.tsx
  packages/client/src/components/tabs/index.tsx
  packages/client/src/components/tabs/stories.tsx
  packages/client/src/components/tabs/tab-list.ts
  packages/client/src/components/tabs/tab-panel.ts
  packages/client/src/components/tabs/tab-panels.tsx
  packages/client/src/components/tabs/tab.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/types/reach_tabs/index.d.ts
  yarn.lock
Due: client

refactor(client): update onchange functionality of the file-field-call-to-action sub-component
  packages/client/src/components/file-field/call-to-action.tsx
Due: client

feat(client): add tabs component (#945)
  packages/client/package.json
  packages/client/src/components/subnavbar/index.tsx
  packages/client/src/components/subnavbar/stories.tsx
  packages/client/src/components/tabs/index.tsx
  packages/client/src/components/tabs/stories.tsx
  packages/client/src/components/tabs/tab-list.ts
  packages/client/src/components/tabs/tab-panel.ts
  packages/client/src/components/tabs/tab-panels.tsx
  packages/client/src/components/tabs/tab.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/types/reach_tabs/index.d.ts
  yarn.lock
Due: client

refactor(client): update onchange functionality of the file-field-call-to-action sub-component
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/index.tsx
Due: client

fix(client): update file-field src type
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/index.tsx
Due: client

refactor: update encoding
  packages/client/scripts/lib/fs.ts
  packages/server/src/services/crypto-service.ts
Due: client, server

refactor(client): update client and server files
  packages/client/package.json
  packages/client/src/client.tsx
  packages/client/src/config.ts
  packages/client/src/server.tsx
  yarn.lock
Due: client

feat(client): add loading state to the call-to-action sub-component
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/stories.tsx
Due: client

update
  packages/validation/src/index.ts
  packages/validation/src/string.ts
Due: none

feat(client): add loading state to the call-to-action sub-compon… (#953)
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/stories.tsx
Due: client

chore(deps): update yarn.lock file
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): update tabs component styles
  packages/client/src/components/tabs/index.tsx
Due: client

feat(client): add extract-translations script
  packages/client/package.json
  packages/client/scripts/build.ts
  packages/client/scripts/copy.ts
  packages/client/scripts/extract-translations.ts
  packages/client/scripts/lib/fs.ts
  packages/client/src/config.ts
  packages/client/src/translations/locales/en.json
  packages/client/types/babel-plugin-react-intl/index.d.ts
  packages/client/types/babel_core/index.d.ts
  yarn.lock
Due: client

refactor(client): update browser build variable
  packages/client/.eslintrc.js
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.ts
  packages/client/jest.config.js
  packages/client/src/apollo.ts
  packages/client/src/config.ts
  packages/client/types/global.d.ts
Due: client

update
  packages/client/.storybook/webpack.config.js
Due: client

refactor(client): update browser build variable (#978)
  packages/client/.eslintrc.js
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.ts
  packages/client/jest.config.js
  packages/client/src/apollo.ts
  packages/client/src/config.ts
  packages/client/types/global.d.ts
Due: client

feat(client): add extract-translations script (#976)
  packages/client/package.json
  packages/client/scripts/build.ts
  packages/client/scripts/copy.ts
  packages/client/scripts/extract-translations.ts
  packages/client/scripts/lib/fs.ts
  packages/client/src/config.ts
  packages/client/src/translations/locales/en.json
  packages/client/types/babel-plugin-react-intl/index.d.ts
  packages/client/types/babel_core/index.d.ts
  yarn.lock
Due: client

feat(client): add graphql capabilities to server
  packages/client/package.json
  packages/client/scripts/lib/fs.ts
  packages/client/src/components/html/index.tsx
  packages/client/src/config.ts
  packages/client/src/schema.ts
  packages/client/src/server.tsx
  yarn.lock
Due: client

feat(client): add english translations
  packages/client/.prettierignore
  packages/client/package.json
  packages/client/src/translations/locales/en.json
Due: client

feat(client): add graphql capabilities to server (#984)
  packages/client/package.json
  packages/client/scripts/lib/fs.ts
  packages/client/src/components/html/index.tsx
  packages/client/src/config.ts
  packages/client/src/schema.ts
  packages/client/src/server.tsx
  yarn.lock
Due: client

feat(client): add translations resolver
  packages/client/scripts/extract-translations.ts
  packages/client/scripts/start.ts
  packages/client/src/config.ts
  packages/client/src/schema.ts
Due: client

feat(client): add english translations (#985)
  packages/client/.prettierignore
  packages/client/package.json
  packages/client/src/translations/locales/en.json
Due: client

feat(client): add translations resolver (#990)
  packages/client/scripts/extract-translations.ts
  packages/client/scripts/start.ts
  packages/client/src/config.ts
  packages/client/src/schema.ts
Due: client

chore(deps-dev): bump @testing-library/dom from 6.4.0 to 6.4.1
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): consolidate duplicated code
  packages/client/.storybook/config.tsx
  packages/client/src/apollo.ts
  packages/client/src/assets/test.tsx
  packages/client/src/components/field/stories.mdx
  packages/client/src/components/file-field/test.tsx
  packages/client/src/components/input/test.tsx
  packages/client/src/components/label/test.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/phone-field/stories.tsx
  packages/client/src/components/radio/test.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/components/select/test.tsx
  packages/client/src/routes/home/stories.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/register/stories.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/stories.tsx
  packages/client/src/server.tsx
  packages/client/src/utils/apollo.test.ts
  packages/client/src/utils/apollo.ts
  packages/client/src/utils/specification.test.ts
  packages/client/src/utils/specification.tsx
Due: client

update
  packages/client/package.json
  packages/client/src/components/root/index.tsx
  yarn.lock
Due: client

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
