Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: auth, client, server, shared, validation

codecov.yml:

coverage:
  status:
    project:
      default: off
      auth:
        flags: auth
      client:
        flags: client
      server:
        flags: server
      shared:
        flags: shared
      validation:
        flags: validation
flags:
  auth:
    paths:
      - packages/auth
  client:
    paths:
      - packages/client
  server:
    paths:
      - packages/server
  shared:
    paths:
      - packages/shared
  validation:
    paths:
      - packages/validation

update
  .circleci/config.yml
Due: none

update
  readme.md
Due: none

update
  .circleci/config.yml
  packages/client/babel.config.js
Due: client

feat: integrate codecov (#76)
  .circleci/config.yml
  codecov.yml
  package.json
  packages/auth/jest.config.js
  packages/auth/package.json
  packages/client/babel.config.js
  packages/client/jest.config.js
  packages/server/package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/validation/jest.config.js
  packages/validation/package.json
  readme.md
  yarn.lock
Due: auth, client, server, shared, validation

feat(ci): add root job
  .circleci/config.yml
  package.json
  packages/client/package.json
  yarn.lock
Due: client

feat(ci): add root job (#77)
  .circleci/config.yml
  package.json
  packages/client/package.json
  yarn.lock
Due: client

refactor: update target branch
  packages/client/.storybook/config.tsx
  readme.md
Due: client

refactor: update target branch (#78)
  packages/client/.storybook/config.tsx
  readme.md
Due: client

chore(deps): bump versions
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#79)
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

feat: update codecov notifications
  codecov.yml
Due: none

feat: update codecov notifications (#80)
  codecov.yml
Due: none

Update dependencies
  yarn.lock
Due: none

Bump dependencies (#81)
  yarn.lock
Due: none

chore(deps): bump versions
  package.json
  packages/client/package.json
  yarn.lock
Due: client

refactor: codecov configuration
  codecov.yml
Due: none

chore(deps): bump versions (#82)
  package.json
  packages/client/package.json
  yarn.lock
Due: client

refactor: codecov configuration (#83)
  codecov.yml
Due: none

chore(deps): bump versions
  codecov.yml
  package.json
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump versions (#84)
  codecov.yml
  package.json
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump versions
  package.json
  packages/auth/.gitignore
  packages/client/package.json
  packages/server/package.json
  packages/shared/.gitignore
  packages/validation/.gitignore
  packages/validation/package.json
  yarn.lock
Due: auth, client, server, shared, validation

chore(deps): bump versions (#85)
  package.json
  packages/auth/.gitignore
  packages/client/package.json
  packages/server/package.json
  packages/shared/.gitignore
  packages/validation/.gitignore
  packages/validation/package.json
  yarn.lock
Due: auth, client, server, shared, validation

style: add global theme
  packages/client/.storybook/config.tsx
  packages/client/src/apollo.ts
  packages/client/src/components/html/index.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/styles/global.ts
  packages/client/src/utilities/style.ts
  packages/client/types/apollo-cache-inmemory/index.d.ts
  packages/client/types/express/index.d.ts
  packages/client/types/global.d.ts
  packages/client/types/reach__dialog/index.d.ts
  packages/client/types/reactabular-table/index.d.ts
  packages/client/types/storybook__react/index.d.ts
  packages/client/types/styled-components/index.d.ts
Due: client

refactor(server): update jest config
  packages/server/jest.config.js
Due: server

chore(deps): bump versions (#87)
  package.json
  packages/client/package.json
  yarn.lock
Due: client

refactor(server): update jest config (#88)
  packages/server/jest.config.js
Due: server

refactor: codecov config
  codecov.yml
Due: none

update
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

update
  codecov.yml
Due: none

update
  .circleci/config.yml
  codecov.yml
Due: none

refactor: codecov config (#89)
  .circleci/config.yml
  codecov.yml
Due: none

style: add global theme (#86)
  codecov.yml
  packages/client/.storybook/config.tsx
  packages/client/src/apollo.ts
  packages/client/src/components/html/index.tsx
  packages/client/src/components/root/index.tsx
  packages/client/src/styles/global.ts
  packages/client/src/utilities/style.ts
  packages/client/types/apollo-cache-inmemory/index.d.ts
  packages/client/types/express/index.d.ts
  packages/client/types/global.d.ts
  packages/client/types/reach__dialog/index.d.ts
  packages/client/types/reactabular-table/index.d.ts
  packages/client/types/storybook__react/index.d.ts
  packages/client/types/styled-components/index.d.ts
Due: client

works
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
Due: server

test confirm two factor
  packages/server/src/services/auth-service.test.ts
Due: server

test disable two factor
  packages/server/src/services/auth-service.test.ts
Due: server
