Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  notify:
    slack:
      fintruth-sdk:
        url: https://hooks.slack.com/services/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
        threshold: 2.0
        flags:
          - client
          - server
  status:
    patch:
      default: false
    project:
      default: false
      client:
        threshold: 2.0
        flags:
          - client
        paths:
          - ^packages/client/.*
      server:
        threshold: 2.0
        flags:
          - server
        paths:
          - ^packages/server/.*
comment:
  require_changes: true
flags:
  client:
    paths:
      - ^packages/client/.*
  server:
    paths:
      - ^packages/server/.*

update
  .circleci/config.yml
Due: none

update
  package.json
  packages/server/package.json
  yarn.lock
Due: server

chore(deps): bump versions (#465)
  .circleci/config.yml
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

Update user profile and emails relations
  packages/common/src/email.ts
  packages/common/src/profile.ts
  packages/common/src/user.ts
  packages/server/schema.graphql
  packages/server/src/entities/email.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/models/user-dao.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Update client
  packages/client/src/components/root/graphql.ts
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/sign-in/graphql.ts
  packages/client/src/routes/sign-in/stories.tsx
Due: client

update
  packages/server/schema.graphql
  packages/server/src/models/email-dao.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/resolvers/user-resolver.ts
Due: server

update
  packages/server/src/services/profile-service.ts
Due: server

add `addEmail` resolver
  packages/server/schema.graphql
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

add `removeEmail` resolver
  packages/server/schema.graphql
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

chore(deps-dev): bump @testing-library/user-event from 4.1.0 to 4.2.3
  packages/client/package.json
  yarn.lock
Due: client

refactor(client): field components
  packages/client/package.json
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/utilities/react.ts
  packages/client/src/utilities/validation.ts
  packages/client/types/mime/lite.d.ts
  yarn.lock
Due: client

refactor(client): field components (#502)
  packages/client/package.json
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/root/test.tsx
  packages/client/src/utilities/react.ts
  packages/client/src/utilities/validation.ts
  packages/client/types/mime/lite.d.ts
  yarn.lock
Due: client

refactor: user and profile entities (#483)
  packages/client/src/components/root/graphql.ts
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/recover/graphql.ts
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/recover/stories.tsx
  packages/client/src/routes/settings/graphql.ts
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/stories.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/sign-in/graphql.ts
  packages/client/src/routes/sign-in/stories.tsx
  packages/common/src/email.ts
  packages/common/src/profile.ts
  packages/common/src/user.ts
  packages/server/schema.graphql
  packages/server/src/entities/email.ts
  packages/server/src/entities/profile.ts
  packages/server/src/entities/user.ts
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/models/email-dao.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/models/user-dao.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
  packages/server/src/services/auth-service.test.ts
  packages/server/src/services/auth-service.ts
  packages/server/src/services/profile-service.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: client, server

feat(server): add user email resolvers (#495)
  packages/server/schema.graphql
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

Add `isPrimary` flag to email
  packages/common/src/email.ts
  packages/server/schema.graphql
  packages/server/src/entities/email.ts
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

update
  packages/server/src/resolvers/user-resolver.ts
Due: server

feat(client): add file field cropper
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/html/index.tsx
  yarn.lock
Due: client

update
  packages/server/src/models/email-dao.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

update
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

feat(client): add file field cropper (#509)
  packages/client/.storybook/preview-head.html
  packages/client/package.json
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/stories.tsx
  packages/client/src/components/html/index.tsx
  yarn.lock
Due: client

feat(server): add primary user email (#508)
  packages/common/src/email.ts
  packages/server/schema.graphql
  packages/server/src/entities/email.ts
  packages/server/src/migrations/1562784145322-Initial.ts
  packages/server/src/models/email-dao.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/seeds/1562786184526-UserMock.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

update
  yarn.lock
Due: none

update address resolvers
  packages/server/schema.graphql
  packages/server/src/entities/address.ts
  packages/server/src/models/address-dao.ts
  packages/server/src/models/address-type-dao.ts
  packages/server/src/resolvers/address-resolver.ts
  packages/server/src/resolvers/index.ts
  packages/server/src/seeds/1563472808764-AddressMock.ts
Due: server

update daos
  packages/server/src/models/address-type-dao.ts
  packages/server/src/models/country-dao.ts
  packages/server/src/models/phone-type-dao.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/models/user-dao.ts
Due: server

update country resolver
  packages/server/src/resolvers/country-resolver.ts
Due: server

update
  packages/server/src/models/country-dao.ts
Due: server

feat(server): add missing field resolvers (#514)
  packages/server/schema.graphql
  packages/server/src/entities/address.ts
  packages/server/src/models/address-dao.ts
  packages/server/src/models/address-type-dao.ts
  packages/server/src/models/country-dao.ts
  packages/server/src/models/phone-type-dao.ts
  packages/server/src/models/profile-dao.ts
  packages/server/src/models/user-dao.ts
  packages/server/src/resolvers/address-resolver.ts
  packages/server/src/resolvers/country-resolver.ts
  packages/server/src/resolvers/index.ts
  packages/server/src/seeds/1563472808764-AddressMock.ts
Due: server

chore(deps-dev): bump @storybook/addon-centered from 5.1.9 to 5.1.10
  packages/client/package.json
  yarn.lock
Due: client

add resolver auth checks
  .circleci/config.yml
  dockerfile.client
  dockerfile.server
  packages/auth/.gitignore
  packages/auth/jest.config.js
  packages/auth/package.json
  packages/auth/readme.md
  packages/auth/src/ability.ts
  packages/auth/tsconfig.json
  packages/server/package.json
  packages/server/src/apollo.ts
  packages/server/src/auth/ability.ts
  packages/server/src/auth/index.ts
  packages/server/src/resolvers/address-resolver.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/server.ts
  packages/server/src/services/auth-service.ts
  packages/server/tsconfig.json
Due: server

update
  packages/server/src/resolvers/address-resolver.ts
  packages/server/src/resolvers/auth-resolver.ts
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/resolvers/user-resolver.ts
Due: server

update user services
  packages/server/src/resolvers/user-resolver.ts
  packages/server/src/services/user-service.test.ts
  packages/server/src/services/user-service.ts
Due: server

update profile service and add tests
  packages/server/src/resolvers/profile-resolver.ts
  packages/server/src/services/profile-service.test.ts
  packages/server/src/services/profile-service.ts
Due: server
