Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

chore(deps): update yarn.lock file
  yarn.lock
Due: none

chore(deps): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

chore(deps-dev): bump @storybook versions
  packages/client/package.json
  yarn.lock
Due: client

feat(client): add country translations
  packages/client/.storybook/config.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/translations/country.ts
  packages/client/src/translations/index.ts
Due: client

refactor(client): update form translations
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/translations/form.ts
Due: client

chore(validation): update types
  packages/validation/src/index.ts
  packages/validation/src/string.ts
Due: none

perf(client): narrow form validation scope
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

fix(client): file field cropper reaching max update depth
  packages/client/src/components/file-field/cropper.tsx
Due: client

test(client): update root component test
  packages/client/src/components/root/test.tsx
Due: client

chore(client): sync nidus package
  packages/client/src/components/root/test.tsx
  packages/client/src/routes/settings/update-password-form.tsx
Due: client

update
  packages/server/src/apollo.ts
Due: server

chore(deps): update yarn.lock file
  packages/server/package.json
  yarn.lock
Due: server

chore(deps-dev): remove @types/grahpql package
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

fix(client): update formik field validation registration
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/select.tsx
Due: client

refactor(client): update form id implementation
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

refactor(client): update loading utilities types
  packages/client/src/utils/loading.tsx
Due: client

fix(client): update loading utilities types
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/utils/loading.tsx
Due: client

feat(client): add country select field
  .eslintrc.js
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/graphql.ts
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/option/index.tsx
  packages/client/src/components/option/stories.tsx
  packages/client/src/components/option/test.tsx
  packages/client/src/components/option/test.tsx.snap
  packages/client/src/components/select/stories.tsx
  packages/client/src/styles/mixins.ts
Due: client

feat(client): add country select field (#736)
  .eslintrc.js
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/graphql.ts
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/field/stories.tsx
  packages/client/src/components/option/index.tsx
  packages/client/src/components/option/stories.tsx
  packages/client/src/components/option/test.tsx
  packages/client/src/components/option/test.tsx.snap
  packages/client/src/components/select/stories.tsx
  packages/client/src/styles/mixins.ts
Due: client

refactor(client): update country select component
  packages/client/.storybook/addons.ts
  packages/client/.storybook/config.tsx
  packages/client/.storybook/webpack.config.js
  packages/client/package.json
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/stories.mdx
  packages/client/types/storybook__addon-docs/blocks.d.ts
  yarn.lock
Due: client

fix(client): remove trailing period from the root id of the recover form
  packages/client/src/routes/recover/recover-form.tsx
Due: client

refactor(client): update country select
  packages/client/src/components/field/country-select.tsx
Due: client

refactor(client): convert scripts to typescript
  .eslintrc.js
  config/cypress/webpack.config.js
  packages/client/config/jest/file-transformer.js
  packages/client/config/jest/snapshot-resolver.js
  packages/client/config/webpack.config.js
  packages/client/package.json
  packages/client/scripts/build.ts
  packages/client/scripts/bundle.ts
  packages/client/scripts/clean.ts
  packages/client/scripts/copy.js
  packages/client/scripts/copy.ts
  packages/client/scripts/lib/webpack-hot-dev-client.ts
  packages/client/scripts/run.js
  packages/client/scripts/run.ts
  packages/client/types/react-dev-utils/launch-editor-endpoint.d.ts
  packages/client/types/react-error-overlay/index.d.ts
  packages/client/types/webpack-hot-middleware/client.d.ts
  packages/server/config/webpack.config.js
  yarn.lock
Due: client, server

refactor(client): update component metadata
  packages/client/src/components/field/country-select.tsx
  packages/client/src/components/field/help.tsx
  packages/client/src/components/field/index.tsx
  packages/client/src/components/field/input.tsx
  packages/client/src/components/field/label.tsx
  packages/client/src/components/field/select.tsx
  packages/client/src/components/file-field/call-to-action.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/file-field/help.tsx
  packages/client/src/components/file-field/icon.ts
  packages/client/src/components/file-field/icon.tsx
  packages/client/src/components/file-field/index.tsx
  packages/client/src/components/file-field/label.tsx
  packages/client/src/components/file-field/name.tsx
  packages/client/src/components/input/index.tsx
  packages/client/src/components/label/index.tsx
  packages/client/src/components/phone-field/help.tsx
  packages/client/src/components/phone-field/index.tsx
  packages/client/src/components/phone-field/input.tsx
  packages/client/src/components/phone-field/label.tsx
  packages/client/src/components/phone-field/select.tsx
  packages/client/src/components/radio/index.tsx
  packages/client/src/components/radio/input.tsx
  packages/client/src/components/radio/label.tsx
  packages/client/src/components/select/index.tsx
  packages/client/src/routes/recover/recover-form.tsx
  packages/client/src/routes/register/register-form.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/enable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
Due: client

feat(client): add isomorphic-style-loader
  packages/client/.storybook/config.tsx
  packages/client/.storybook/preview-head.html
  packages/client/.storybook/webpack.config.js
  packages/client/config/webpack.config.js
  packages/client/package.json
  packages/client/src/client.tsx
  packages/client/src/components/file-field/cropper.tsx
  packages/client/src/components/html/index.tsx
  packages/client/src/components/tooltip/index.tsx
  packages/client/src/components/tooltip/stories.tsx
  packages/client/src/server.tsx
  packages/client/types/global.d.ts
  packages/client/types/isomorphic-style-loader/index.d.ts
  packages/client/types/isomorphic-style-loader/style-context.d.ts
  packages/client/types/isomorphic-style-loader/use-styles.d.ts
  packages/client/types/reach__tooltip/index.d.ts
  yarn.lock
Due: client

update
  packages/client/config/webpack.config.js
Due: client

update
  .eslintrc.js
Due: none

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
