Repository fintruth/fintruth-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

refactor(client): mixins
  packages/client/src/assets/index.tsx
  packages/client/src/components/button/index.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/html/index.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/loading/index.tsx
  packages/client/src/components/submenu/index.ts
  packages/client/src/components/subnavbar/index.tsx
  packages/client/src/components/table/index.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/enable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/styles/animations.ts
  packages/client/src/styles/deprecated.ts
  packages/client/src/styles/mixins.ts
  packages/client/src/styles/variables.ts
  packages/client/src/utilities/style.ts
  packages/client/stylelint.config.js
  packages/client/types/styled-components/index.d.ts
Due: client

refactor: eslint config
  .eslintrc.js
  .gitignore
  package.json
  packages/server/.eslintrc.js
Due: server

feat(client): add readable color style utility
  packages/client/src/utilities/style.ts
Due: client

update
  packages/client/src/styles/mixins.ts
Due: client

refactor(client): mixins (#127)
  packages/client/src/assets/index.tsx
  packages/client/src/components/button/index.tsx
  packages/client/src/components/file/index.tsx
  packages/client/src/components/html/index.tsx
  packages/client/src/components/layout/index.tsx
  packages/client/src/components/layout/test.tsx
  packages/client/src/components/loading/index.tsx
  packages/client/src/components/submenu/index.ts
  packages/client/src/components/subnavbar/index.tsx
  packages/client/src/components/table/index.tsx
  packages/client/src/routes/fault/index.tsx
  packages/client/src/routes/home/index.tsx
  packages/client/src/routes/not-found/index.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/enable-two-factor-auth-dialog.tsx
  packages/client/src/routes/settings/index.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/sign-in/index.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/styles/animations.ts
  packages/client/src/styles/deprecated.ts
  packages/client/src/styles/mixins.ts
  packages/client/src/styles/variables.ts
  packages/client/src/utilities/style.ts
  packages/client/stylelint.config.js
  packages/client/types/styled-components/index.d.ts
Due: client

refactor: eslint config (#128)
  .eslintrc.js
  .gitignore
  package.json
  packages/server/.eslintrc.js
Due: server

feat(client): add readable color style utility (#129)
  packages/client/src/utilities/style.ts
Due: client

refactor(client): button component
  packages/client/src/components/button/index.tsx
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/button/test.tsx
  packages/client/src/components/button/test.tsx.snap
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/authenticator-app-button.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/styles/global.ts
  packages/client/src/utilities/style.ts
  packages/client/stylelint.config.js
  packages/client/types/styled-components/index.d.ts
Due: client

update
  packages/client/src/components/button/index.tsx
  packages/client/src/components/button/stories.tsx
  packages/client/src/components/button/test.tsx.snap
  packages/client/src/styles/mixins.ts
  packages/client/src/utilities/style.ts
  packages/client/types/styled-components/index.d.ts
Due: client

update
  packages/client/src/components/button/index.tsx
Due: client

chore(deps): bump versions
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions (#131)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions
  package.json
  yarn.lock
Due: none

chore(deps): bump versions (#132)
  package.json
  yarn.lock
Due: none

chore(deps): bump versions (#134)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

refactor(client): component styles
  packages/client/src/components/button/index.tsx
  packages/client/src/components/button/test.tsx.snap
  packages/client/src/components/input/index.tsx
Due: client

update
  packages/client/src/components/input/index.tsx
  packages/client/src/routes/recover/index.tsx
  packages/client/src/routes/register/index.tsx
  packages/client/src/routes/settings/confirm-two-factor-auth-form.tsx
  packages/client/src/routes/settings/disable-two-factor-auth-form.tsx
  packages/client/src/routes/settings/update-email-form.tsx
  packages/client/src/routes/settings/update-password-form.tsx
  packages/client/src/routes/settings/update-profile-form.tsx
  packages/client/src/routes/sign-in/sign-in-form.tsx
  packages/client/src/routes/sign-in/sign-in-two-factor-auth-form.tsx
  packages/client/src/styles/deprecated.ts
  packages/client/src/styles/global.ts
  packages/client/src/styles/mixins.ts
Due: client

refactor(client): component styles (#135)
  packages/client/src/components/button/index.tsx
  packages/client/src/components/button/test.tsx.snap
  packages/client/src/components/input/index.tsx
Due: client

feat(client): add title and subtitle mixins
  packages/client/src/styles/mixins.ts
Due: client

feat(client): add title and subtitle mixins (#136)
  packages/client/src/styles/mixins.ts
Due: client

chore(deps): bump versions
  package.json
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump versions (#137)
  package.json
  packages/client/package.json
  yarn.lock
Due: client

chore(deps): bump versions (#138)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

feat(client): add filename prop to file component
  packages/client/src/components/file/index.tsx
Due: client

update
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/test.tsx
Due: client

refactor(client): file component (#139)
  packages/client/src/components/file/index.tsx
  packages/client/src/components/file/test.tsx
Due: client

chore(deps): bump versions (#140)
  package.json
  yarn.lock
Due: none

chore(deps): bump versions (#141)
  package.json
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

feat(client): add custom apollo link sanitize
  packages/client/package.json
  packages/client/src/apollo.ts
  packages/client/src/utilities/apollo.ts
  packages/client/src/utilities/object.test.ts
  packages/client/src/utilities/object.ts
  packages/server/package.json
  yarn.lock
Due: client, server

update
  packages/client/package.json
  yarn.lock
Due: client

update
  packages/client/src/utilities/object.test.ts
  packages/client/src/utilities/specification.test.ts
  packages/client/src/utilities/store.test.ts
  packages/client/src/utilities/table.test.ts
Due: client

feat(client): add custom apollo link sanitize (#142)
  packages/client/package.json
  packages/client/src/apollo.ts
  packages/client/src/utilities/apollo.ts
  packages/client/src/utilities/object.test.ts
  packages/client/src/utilities/object.ts
  packages/client/src/utilities/specification.test.ts
  packages/client/src/utilities/store.test.ts
  packages/client/src/utilities/table.test.ts
  packages/server/package.json
  yarn.lock
Due: client, server

chore(deps): bump versions
  packages/client/package.json
  packages/server/package.json
  yarn.lock
Due: client, server

Path conditions:
  client: any of: ^packages/client/.*
  server: any of: ^packages/server/.*
